<p class="help-text">Click on next number to generate number</p>
<h1>{{ num }}</h1>
<p class="ans-green">{{ correct ? 'Correct' : '' }}</p>
<p class="ans-fail">{{ incorrect ? 'Try again' : '' }}</p>
<div class="button-container">
  <button class="btn btn-primary" (click)="recognize()">
    <span class="material-symbols-outlined" style="font-size:16px"> mic </span>
    <span
      style="
      display: inline-block;
      vertical-align: top;
  "
      >Record</span
    >
  </button>
  <button class="btn btn-primary generate" (click)="generateNumber()">
    <span
      style="
      display: inline-block;
      vertical-align: top;
  "
      >Next Number</span
    >
    <span class="material-symbols-outlined" style="font-size:16px">
      arrow_forward_ios
    </span>
  </button>
</div>
