<div class="lang-container">
  <select class="right" [(ngModel)]="locale" (change)="useLanguage()">
    <option value="gu-IN">ગુજરાતી</option>
    <option value="en-US">English</option>
  </select>
</div>
<p class="help-text">{{ 'app.help-text' | translate }}</p>
<h1>{{ num | lang: locale }}</h1>
<p class="ans-green">{{ (correct ? 'app.correct' : '') | translate }}</p>
<p class="ans-fail">{{ (incorrect ? 'app.try-again' : '') | translate }}</p>
<div class="button-container">
  <button class="btn btn-primary" (click)="recognize()">
    <span class="material-symbols-outlined" style="font-size:16px"> mic </span>
    <span
      style="
      display: inline-block;
      vertical-align: top;
  "
      >{{ 'app.record' | translate }}</span
    >
  </button>
  <button class="btn btn-primary generate" (click)="generateNumber()">
    <span
      style="
      display: inline-block;
      vertical-align: top;
  "
      >{{ 'app.next-number' | translate }}</span
    >
    <span class="material-symbols-outlined" style="font-size:16px">
      arrow_forward_ios
    </span>
  </button>
</div>
